extends layout/default

block base
  base(href="http://christmasexperiments.com/2014_/experiments/")

block style
  link(rel="stylesheet", href="../css/fonts/fonts.css")
  link(rel="stylesheet", href="../css/main-experiment.css")

block content
  .error.no-webgl(style="display:block;")
    .error-bg
      .error-bg-text
    .error-content
      .error-content-icon
      .error-content-text.error-content-text--too-soon.
        Ho Ho Hol!<br />
      a.error-bt(href="/")
        span.error-bt-bg-hover
        span.error-bt-icon
        span.error-bt-text HOME
        span.error-bt-shadow

block script
  script( src="../js/vendors/done.js" )
  script( src="../js/bower_components/emitter/emitter.js" )
  script( src="../js/vendors/page.js" )
  script( src="../js/main-experiment.js" )
