extends layout/default

block base
  base(href="/experiments/")

block style
  link(rel="stylesheet", href="./../css/fonts/fonts.css")
  link(rel="stylesheet", href="./../css/main-experiment.css")

block content
  .experiments-content
    include modules/experiments/error
    include modules/experiments/not-released
    include modules/experiments/preview
    include modules/experiments/experiment
  include modules/experiments/menu
  include modules/experiments/infos




block script
  script( src="./../js/vendors/done.js" )
  script( src="./../js/bower_components/emitter/emitter.js" )
  script( src="./../js/bower_components/gsap/src/minified/easing/EasePack.min.js" )
  script( src="./../js/bower_components/gsap/src/minified/plugins/CSSPlugin.min.js" )
  script( src="./../js/bower_components/gsap/src/minified/TweenMax.min.js" )
  script( src="./../js/vendors/page.js" )
  script( src="./../js/main-experiment.js" )
