extends layout/default

block content
  .experiments-content(class= isAvailable ? "" : "error-too-soon")
    include modules/experiments/error
    include modules/experiments/experiment
  include modules/experiments/menu
  include modules/experiments/infos
