extends layout/default

block style
  link(rel="stylesheet", href="./css/fonts/fonts.css")
  link(rel="stylesheet", href="./css/main-home.css?v=1")

block content
  include modules/menu/mobile-navbar
  include modules/menu/mobile-menu
  include modules/home/home
  .pattern
  include modules/home/artists
  include modules/home/about
  include modules/home/loading

block script
  script( src="./js/vendors/done.js" )
  script( src="./js/bower_components/isMobile/isMobile.min.js" )
  script( src="./js/bower_components/emitter/emitter.js" )
  script( src="./js/bower_components/gsap/src/minified/easing/EasePack.min.js" )
  script( src="./js/bower_components/gsap/src/minified/plugins/CSSPlugin.min.js" )
  script( src="./js/bower_components/gsap/src/minified/TweenMax.min.js" )
  script( src="./js/bower_components/threejs/build/three.min.js" )
  script( src="./js/vendors/SceneLoader.js" )
  script( src="./js/bower_components/dat-gui/build/dat.gui.min.js" )
  script( src="./js/main-home.js" )
