bg( img, ratio = 2 )
  path = "img/" + img
  size = image-size( path )
  w = round( size[ 0 ] / ratio )
  h = round( size[ 1 ] / ratio )
  width w
  height h
  background transparent url( path ) no-repeat
  background-size w h

w( img, ratio = 2 ) 
  path = "img/" + img
  size = image-size( path )
  round( size[ 0 ] / ratio )

h( img, ratio = 2 ) 
  path = "img/" + img
  size = image-size( path )
  round( size[ 1 ] / ratio )
