.error
  .error-bg
    .error-bg-text
  .error-content
    .error-content-icon
    .error-content-text.error-content-text--no-webgl.
      looks like your browser <br />
      doesn’t support christmas...
    .error-content-text.error-content-text--too-soon.
      looks like you are too greedy!<br />
      come back later to see that<br />
      delicious experiment.
    a.error-bt(href="/")
      span.error-bt-bg-hover
      span.error-bt-icon
      span.error-bt-text HOME
      span.error-bt-shadow

