.error.no-webgl
  .error-bg
    .error-bg-text
  .error-content
    .error-content-icon
    .error-content-text.error-content-text--no-webgl.
      Sorry your browser is getting too old to enjoy christmas...
    .error-content-text.error-content-text--too-soon.
      looks like you are too greedy!<br />
      Come back later to see that
      delicious experiment.
    a.error-bt(href="/")
      span.error-bt-bg-hover
      span.error-bt-icon
      span.error-bt-text HOME
      span.error-bt-shadow

