mixin menu-item( idx, isAvailable )
  li.menu-item
    a(href="/#{idx}/", class=isAvailable ? "available" : "")
      span.menu-item-text-holder
        span.menu-item-text= idx

ul.menu
  .menu-item-activated
  - var dataCount = experiments.length + 1
  - for ( var i = 0; i < 24; i++ )
    +menu-item( experiments[ i ].idx, experiments[ i ].isAvailable )
