canvas 
	position absolute
	top 0
	left 0
	
body, html
	height 100%
	width 100%
	min-height 100%
	overflow hidden
	
body
	background url(../img/background.jpg) no-repeat center center fixed
	background-size: cover