@import "nib"

@import "mixins/images"
@import "core/reset"
@import "core/colors"
@import "core/fonts"
@import "core/common"
@import "modules/landing/landing"
@import "modules/landing/menu"
@import "modules/landing/credits"
// @import "modules/experiments/experiments"
// @import "modules/experiments/experiment"
// @import "modules/experiments/error"
// @import "modules/experiments/menu"
// @import "modules/experiments/infos"

html, body
  position relative
  width 100%
  height 100%

body
  background-color #152d7c
