.credits
  position absolute
  top 0
  left -198px
  width 200px
  height 100%
  background-color #f5f7fc
  text-align center
  z-index 10
  p
    margin-bottom 5px
  
  

.credits-title
  font normal 22px bold
  color blueDark

.credits-content-holder
  position relative
  display table
  width 100%
  height calc( 100% - 200px )

.credits-content
  position relative
  display table-cell
  vertical-align middle

.credits-entry:not(:last-child)
  margin-bottom 25px

.credits-title
  margin-bottom 80px
  &:after
    width 85px

.credits-entry-title
  font normal 12px regular
  color blueMedium

.credits-entry-author
  color red
  font normal 12px bold
  text-decoration none
  border-bottom 1px solid red
  letter-spacing 1px


@media screen and (max-width: 640px) {
    
  .credits {
    transition all .3s linear
    width 100%
    left 0
    top 60px
    height calc( 100% - 60px )
    opacity 0
    display none
    z-index 1
    
    .bt-close-holder {
      display none
    }
    
    .credits-content-holder {
      height 100%
    }
    
    .credits-title {
      margin-bottom 30px
    }

    &.transitionIn {
      opacity 1
    }
  }

}
