.home
  position relative
  width 100%
  height 100%
  display none

.home-content
  position absolute
  right 0
  width calc( 100% - 200px )
  height 100%

.home-details
  position absolute
  left 50%
  transform translateX( -50% )
  bottom 40px
  text-align center

.home-details-day
  position absolute
  top -42px
  width 100%
  font normal 140px bold
  color #152f80
  opacity .2
  text-shadow -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

.home-details-separator
  position relative
  margin-top 45px
  &:after
    width 90px

.home-details-title
  position relative
  font normal 32px bold
  color #fff
  margin-top 20px

.home-details-author
  position relative
  font normal 15px lightItalic
  color #fff
  letter-spacing 2px
