.menu
  position absolute
  width 200px
  height 100%
  text-align center
  color #2980f8
  perspective-origin 50% 50%
  perspective 1000
  a
    text-decoration none
    color blueLight

.menu-content
  position absolute
  width 100%
  height 100%
  border-right 1px solid blueDark
  overflow-y hidden
  transform-origin 0 0
  backface-visibility hidden

.menu-top
  position relative
  padding-top 50px

.menu-logo
  bg( "logo-blue.png" )
  display inline-block

.menu-title
  font normal 14px bold
  -webkit-font-smoothing antialiased
  color #fff
  letter-spacing 1px
  margin-top 25px

.menu-subtitle
  font normal 12px light
  margin-top 45px

.menu-entries-holder
  position relative
  display table
  width 100%
  margin-top 25px
  height calc( 100% - 379px )

.menu-entries
  display table-cell
  vertical-align middle
  margin-top 160px

.menu-entry
  display block
  font normal 14px bold
  -webkit-font-smoothing antialiased
  letter-spacing 1px
  &:not(:last-child)
    margin-bottom 25px
  
  .hover-content
    color red

.menu-entry--artists .underline:after
  width 58px

.menu-entry--about .underline:after
  width 45px

.menu-subentries
  position relative
  width 100%
  height 100px
  top 55px
  font normal 12px light
  text-transform uppercase
  a
    letter-spacing 1px
    -webkit-font-smoothing auto
    &:hover
      color red

.menu-subentry
  position relative
  display inline-block

.menu-subentry:not(:first-child)
  top 8px

.menu-subentry:nth-child( 1 )
  &:after
    content ""
    position relative
    top -2px
    margin-left 17px
    margin-right 8px
    display inline-block
    width 4px
    height 4px
    background-color blueLight
    border-radius 2px

.menu--light
  z-index 1
  display none
  .menu-content
    background-color #f2f4f9
    border-color #e8eaef
  .menu-logo
    bg( "logo-blue-dark.png" )
  .menu-title
    color blueDark
  .menu-subtitle
    color red
  .menu-entry
    a
      color blueDark
    &.activated
      .hover-content
        display none
      a
        color red
        &:hover
          .normal
            opacity 1
      span:after
        background-image url( "img/underline.png" ) !important
  .hover-content
    .underline:after
      background-image url( "img/underline.png" )
  .underline:after
    background-image url( "img/underline-blue-dark.png" )
  .menu-subentry a
    color blueDark
  .menu-subentry:nth-child( 1 ):after
    background-color blueDark
  .share--twitter .icon
    bg( "icon-share-twitter-blue-dark.png" )
  .share--fb .icon
      bg( "icon-share-fb-blue-dark.png" )
    
