.mobile-navbar
  display none
  width 100%
  height 60px
  background #f2f4f9 
  position relative
  @media screen and (max-width: 640px) {
    display block  
  }
  
  .logo
    bg( "navbar-logo.png" )
    position absolute
    left 15px
    top 50%
    transform translateY(-50%)
  

  .title 
    width: 100%
    text-align center
    padding-top 14px
    
    .main-title
      color #13076c
      font normal 16px bold
    
    .sub-title
      color #fc7391
      font normal 12px light
    

  .menuCTA
    width 30px
    height 24px
    position absolute
    right 15px
    top 50%
    transform translateY(-50%)
    
    div 
      width 90%
      height 3px
      background #a4a1c8
      margin 4px 0
      border-radius 3px
            
  

