/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'droidserif-regular';
  src: url("../fonts/droidserif-regular/droidserif-regular-webfont.eot");
  src: url("../fonts/droidserif-regular/droidserif-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/droidserif-regular/droidserif-regular-webfont.woff2") format('woff2'), url("../fonts/droidserif-regular/droidserif-regular-webfont.woff") format('woff'), url("../fonts/droidserif-regular/droidserif-regular-webfont.ttf") format('truetype'), url("../fonts/droidserif-regular/droidserif-regular-webfont.svg#droid_serifregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droidserif-bold';
  src: url("../fonts/droidserif-bold/droidserif-bold-webfont.eot");
  src: url("../fonts/droidserif-bold/droidserif-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/droidserif-bold/droidserif-bold-webfont.woff2") format('woff2'), url("../fonts/droidserif-bold/droidserif-bold-webfont.woff") format('woff'), url("../fonts/droidserif-bold/droidserif-bold-webfont.ttf") format('truetype'), url("../fonts/droidserif-bold/droidserif-bold-webfont.svg#droid_serifregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #090909;
  overflow: hidden;
}

#app {
  min-height: 100%;
  line-height: inherit;
  background: #000;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
}

canvas {
  -webkit-transition: opacity 3s linear 0.5s;
  transition: opacity 3s linear 0.5s;
  opacity: 0;
  z-index: 5;
}

canvas.transitionIn {
  opacity: 1;
}

.mute {
  -webkit-transition: opacity 0.5s linear 2.5s;
  transition: opacity 0.5s linear 2.5s;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 25px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
  z-index: 11;
  margin-left: -20px;
  opacity: 0;
}

.mute.transitionIn {
  opacity: 1;
}

@media only screen and (max-width: 640px) {
  .mute {
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }
}

.mute.unmute-mode {
  background: url("../images/unmute.svg") no-repeat 100% 140%;
}

.mute.unmute-mode:hover {
  background: url("../images/mute.svg") no-repeat;
  background-position: 40% 100%;
  background-size: 80%;
}

.mute.mute-mode {
  background: url("../images/mute.svg") no-repeat;
  background-position: 40% 100%;
  background-size: 80%;
}

.mute.mute-mode:hover {
  background: url("../images/unmute.svg") no-repeat 100% 140%;
}

.lifeBar {
  -webkit-transition: width 0.15s linear;
  transition: width 0.15s linear;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #FE5B35;
  z-index: 10;
  width: 0%;
  height: 20px;
  opacity: 0;
}

.lifeBar.transitionIn {
  opacity: 0.6;
  width: 100%;
}

.info {
  -webkit-transition: opacity 0.5s linear 2s;
  transition: opacity 0.5s linear 2s;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
  font-family: "Courier New", "Courier", "Times New Roman";
  z-index: 10;
  text-align: center;
  opacity: 0;
}

.info.transitionIn {
  opacity: 1;
}

.info span.time {
  font-size: 2em;
  font-weight: bold;
}

.selector {
  width: 126px !important;
}

.restart {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  font-family: "Courier New", "Courier", "Times New Roman";
  position: absolute;
  bottom: 200px;
  color: #fff;
  font-size: 0.7em;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.restart.transitionIn {
  opacity: 1;
}

.restart.mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  .restart.no-mobile {
    display: none;
  }

  .restart.mobile {
    display: block;
  }

  .restart.mobile.transitionIn {
    opacity: 1;
  }
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 450px;
  margin: -250px 0 0 -200px;
  text-align: center;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

@media only screen and (max-width: 640px) {
  .instructions {
    width: 300px;
    height: 320px;
    margin: -160px 0 0 -150px;
  }
}

.instructions.transitionOut {
  opacity: 0;
}

.instructions .imgContainer {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  color: #fff;
  font-family: "Courier New", "Courier", "Times New Roman";
  opacity: 0;
}

.instructions .imgContainer img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.instructions .imgContainer.instruction1 {
  -webkit-animation: fade 12s linear 0s infinite;
  animation: fade 12s linear 0s infinite;
}

.instructions .imgContainer.instruction2 {
  -webkit-animation: fade 12s linear 4s infinite;
  animation: fade 12s linear 4s infinite;
}

.instructions .imgContainer.instruction3 {
  -webkit-animation: fade 12s linear 8s infinite;
  animation: fade 12s linear 8s infinite;
}

.loading {
  position: absolute;
  opacity: 1;
  bottom: 20px;
  right: 20px;
  color: #fff;
  text-align: right;
  font-family: "Courier New", "Courier", "Times New Roman";
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.loading.transitionOut {
  opacity: 0;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
}