.menu
  .menu-top
    .menu-logo
    .menu-title CHRISTMAS<br />EXPERIMENTS
    .menu-subtitle The Digital<br />Advent Calendar
  .menu-entries-holder
    ul.menu-entries
      li.menu-entry.underline.underline--blue ARTISTS
      li.menu-entry.underline.underline--blue ABOUT
  ul.menu-subentries
    li.menu-subentry CREDITS
