.mobile-menu

  .inner

    a.bt-close-holder(href="#")
        span.bt-close
          span.bg
            span.bg-normal
            span.bg-hover
          span.icon

    ul.menu-entries
      li.menu-entry.menu-entry--artists
        a.hoverable(href="#")
          span.normal.underline.underline--blue ARTISTS
          
      li.menu-entry.menu-entry--about
        a.hoverable(href="#")
          span.normal.underline.underline--blue ABOUT
          
    ul.menu-subentries
      li.menu-subentry.menu-subentry--credits
        a(href="#") CREDITS
      li.menu-subentry
        a.share.share--fb(href="#")
          span.icon
      li.menu-subentry
        a.share.share--twitter(href="#")
          span.icon
