.infos
  .infos-details
    h1.title INFOS
    h2.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .desc Etiam neque ex, lobortis quis magna sed, varius lacinia lectus. Quisque auctor justo justo, eu suscipit nisi congue vitae. Nulla rhoncus a lacus vel pretium. Praesent sit amet elit ullamcorper diam ornare rhoncus. Integer efficitur maximus justo sed dictum. 
    ul.parts
      block parts
      //- li.part.part--controls
      //-   h3.part-title
      //-   .part-content.
      //-     left/right to navigate<br />
      //-     space to pause
      //- li.part.part--music
      //-   h3.part-title
      //-   .part-content
      //-     a(href="#") Sugar & Hi - lows
  .infos-menu
    a.bt-close(href="/")
    .idx
    .title
    a.author(href="#")
    a.bt-details(href="#")
      span.bt-details-cnt.bt-details-cnt--closed
        span.icon
      span.bt-details-cnt.bt-details-cnt--opened
        span.text CLOSE
        span.icon


