.about
  .about-content.ice-content.no-mobile
    .about-infos
      .borders
        .border-left
        .border-right
      a.bt-close-holder(href="#")
        span.bt-close
          span.bg
            span.bg-normal
            span.bg-hover
          span.icon
      .about-infos-content-holder
        .about-infos-content
          .about-infos-title.underline ABOUT
          .about-infos-desc Christmas Experiments is an advent calendar which feature each day a digital artist from the creative coding community and his web experiment. 
          .about-infos-old.
            You can see the previous edition <a href="http://christmasexperiments.com/2012" target="_blank">2012</a> and <a href="http://christmasexperiments.com/2013" target="_blank">2013</a>
            Feel free to contact us via <a href="https://twitter.com/christmasxp" >twitter</a> or send an email to happy@christmasexperiments.com
          .about-infos-thanks Merry Christmas!

    .about-entries-holder
      .about-entry
        .borders
          .border-bottom
        .about-entry-illu-holder
          .about-entry-illu
            img( src="img/anim-about-a.gif", width="90", height="160" )
        .about-entry-desc-holder
          .about-entry-desc.
            Not related to any clients or agency
            the project regroup each year 24 creators with different background and sensibility who create experiments using open web technologies (Audio API, WebGL, etc.).<br /><br />

            Totally free in their creative process,
            they follow their passion and explore the limit of the web pushing it always further, creating unique experience with love.
      .about-entry
        .about-entry-illu-holder
          .about-entry-illu
            img( src="img/anim-about-b.gif", width="109", height="180" )
        .about-entry-desc-holder
          .about-entry-desc.
            Directed by David Ronai, the project 
            began in London the 30th November 2012. The idea was to make a winter exhibition regrouping digital creators to provide fun and inspiration to visitors.<br /><br />

            Made by a group of friends from Gobelins school in Paris, working in digital creative agencies (Unit9, HKI, B-Reel, Firstborn, North Kingdom, etc.), the project immediately get the attention of the community 
            and met a great success. It grew up year after year with special guests who joined us in this adventure such as Acko, Mr Doob, Mat Groves, Soulwire, etc. 
  
  .about-content.mobile

    .about-infos-title.underline ABOUT

    p.desc Christmas Experiments is an advent calendar which feature each day a digital artist from the creative coding community and his web experiment. 
    p.previous You can see the previous edition 2012 and 2013. <br/>Feel free to contact us via twitter or send an email to happy@christmasexperiments.com
    span.merry Merry Christmas !
