.credits
  a.bt-close-holder(href="#")
    span.bt-close
      span.bg
        span.bg-normal
        span.bg-hover
      span.icon
  .credits-content-holder
    .credits-content
      .credits-title.underline CREDITS
      ul.credits-entries
        li.credits-entry
          .credits-entry-title Director & 3D Developer
          a.credits-entry-author(href="https://twitter.com/makio64" target="_blank") DAVID RONAI
        li.credits-entry
          .credits-entry-title Creative Developer
          a.credits-entry-author(href="https://twitter.com/florianzumbrunn" target="_blank") FLORIAN ZUMBRUNN
          p
          a.credits-entry-author(href="https://twitter.com/williamapan" target="_blank") WILLIAM MAPAN
        li.credits-entry
          .credits-entry-title Art Director / 3D
          a.credits-entry-author(href="https://twitter.com/kokopako" target="_blank") CLÉMENT PAVAGEAU
        li.credits-entry
          .credits-entry-title 3D
          a.credits-entry-author(href="http://boizante.blogspot.fr/" target="_blank") GUILLAUME BOIZANTÉ
        li.credits-entry
          .credits-entry-title Motion Designer
          a.credits-entry-author(href="https://twitter.com/jwddwj" target="_blank") JONATHAN DAHL
