include menu

.home
  .home-content
    .home-details-cnt
      .home-details-content
        .home-details.ice-content
          .home-details-day 01
          .home-details-separator.underline
          .home-details-title PACK THE FUN
          .home-details-author DAVID RONAI
  +menu( false )
  +menu( true )
  include credits