.home
  .home-content
    .home-details
      .home-details-day 01
      .home-details-separator.underline
      .home-details-title PACK THE FUN
      .home-details-author DAVID RONAI
  include menu
  include credits


