.loading
  .loading-bg
  .loading-content-holder
    .loading-percent 0
    .loading-content
      .loading-icon
      .loading-title CHRISTMAS EXPERIMENT
      .loading-subtitle A UNIQUE ADVENT CALENDAR
      .loading-separator.underline
      .loading-baseline
      .loading-details FEATURED BY 24 DIGITAL ARTISTS
      .loading-logo
