.underline
  &:after
    content ""
    position relative
    display block
    width auto
    height 7px
    margin 5px auto 0
    background transparent url( "img/underline.png" ) repeat-x
    background-size 13px 7px

.bt-tce
  position relative
  display inline-block
  background red
  text-decoration none
  color white
  span
    display inline-block
    color white 
