.underline
  &:after
    content ""
    position relative
    display block
    width auto
    height 7px
    margin 5px auto 0
    background transparent url( "img/underline.png" ) repeat-x
    background-size 13px 7px
  &.underline--blue
    &:after
      background-image url( "img/underline-blue.png" )

.bt-tce
  position relative
  display inline-block
  background red
  text-decoration none
  color white
  span
    display inline-block
    color white 

.pattern
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  opacity .075
  background transparent url( "img/texture.png" )
  pointer-events none

.bt-close
  position relative
  display block
  width 41px
  height 41px
  margin 0 auto
  span
    display block
  .bg
    position absolute
  .bg-normal
    position absolute
    bg( "bt-close-bg.png" )
  .bg-hover
    position absolute
    display none
  .icon
    position relative
    display inline-block
    top 12px
    bg( "icon-close-blue.png" )

.share
  position relative
  display block
  padding 8px
  .icon
    display block

.share--twitter .icon
    bg( "icon-share-twitter.png" )

.share--fb .icon
    bg( "icon-share-fb.png" )
