.infos
  .infos-details
    .infos-details-cnt
      h1.title.underline INFOS
      h2.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .desc Etiam neque ex, lobortis quis magna sed, varius lacinia lectus. Quisque auctor justo justo, eu suscipit nisi congue vitae. Nulla rhoncus a lacus vel pretium. Praesent sit amet elit ullamcorper diam ornare rhoncus. Integer efficitur maximus justo sed dictum. 
      ul.parts
        block parts
  .infos-menu
    a.bt-close(href="/")
    .idx.underline 19
    .title TEMPO
    a.author(href="#") William Mapan
    a.bt-details(href="#")
      span.bt-details-cnt.bt-details-cnt--closed
        span.icon
      span.bt-details-cnt.bt-details-cnt--opened
        span.text CLOSE
        span.icon


