mixin menu-item( idx, hasImg )
  li.menu-item
    a(href="#")
      span.menu-item-border
      span.menu-item-text
      if hasImg
        img(src="img/#{idx}.png")

ul.menu
  - for ( var i = 0; i < 25; i++ )
    +menu-item( i, false )
