mixin menu-item( idx, hasImg )
  li.menu-item
    a(href="#")
      if hasImg
        img(src="img/experiments/#{idx}/preview.jpg")
      span.menu-item-text-holder
        span.menu-item-text= idx

ul.menu
  - var dataCount = experiments.length + 1
  - for ( var i = 1; i < dataCount; i++ )
    +menu-item( i, true )
  - for ( var i = dataCount; i < 26; i++ )
    +menu-item( i, false )
