extends layout/default

block content
  .hello WORLD

block parts
  li
    h3 CONTROLS
    span.
      left/right to navigate<br />
      space to pause
  li
    h3 CONTROLS
    span.
      left/right to navigate<br />
      space to pause
